# Basics of List

# Find out Type

In [2]:
lst1 = [11,12,45,56,89,"x","a"]

lst1[::-2]

In [10]:
lst1[-4]

56

In [1]:
import pandas as pd
import numpy as np

In [4]:
print(type(lst1))

<class 'list'>

In [5]:
lst1 = [11,12,"45",56,"89","x","a"]

In [6]:
print(type(lst1))

<class 'list'>

# Indexing of List

In [8]:
lst1 = [11,12,45,56,89,"x","a"]

In [15]:
lst1[0]

11

In [14]:
lst1[-1]

'a'

In [146]:
print(lst1)

[11, 12, 45, 56, 89, 'x', 'a']

In [6]:
lst1 = [11,12,45,56,89,"x","a"]
lst1.index(11)

0

In [4]:
lst11 = [1,12,45,56,89,"x","a"]
lst11.index(45,1,4)

2

In [5]:
lst11[2]

45

# Count

In [9]:
lst1 = [11,12,45,56,89,"x","a"]           ##No of occurance of specified elements
lst1.count(45)

1

# Changing the Element at any Index

In [12]:
l1 = [7, "a", 8, "b", 9]
l1[2]='Z'
l1

[7, 'a', 'Z', 'b', 9]

In [7]:
l1 = [7, "a", 8, "b", 9]
l1[2]=15
l1

[7, 'a', 15, 'b', 9]

In [8]:
l1 = [7, "a", 8, "b", 9]
l1[1]= 'z'
l1

[7, 'z', 8, 'b', 9]

# Adding/Appending new Element

In [38]:
l1 = [7, "a", 8, "b", 9]
l1.append ('Aaru')
l1

[7, 'a', 8, 'b', 9, 'Aaru']

In [14]:
l2=[100,120,30,56,89,96]

In [15]:
print(id(l2))

82569280

In [16]:
id(l2)

82569280

In [52]:
for element in list(l2):
    print(id(element))

8791408587648
8791408588288
8791408585408
8791408586240
8791408587296
8791408587520

In [53]:
id(l1)

136957696

In [65]:
l1.insert(2,1.2)
l1

[7, 100, 1.2, 8, 'b', 9, 'Aaru']

In [66]:
id(l1)

136957696

In [67]:
for ch in list(l1):
    print(id(ch))

8791408584672
8791408587648
133607120
8791408584704
38525232
8791408584736
123334000

In [68]:
l1.append(["Manish","Aaru"])
l1

[7, 100, 1.2, 8, 'b', 9, 'Aaru', ['Manish', 'Aaru']]

In [72]:
l1[7]

['Manish', 'Aaru']

In [74]:
l1[7][0]

'Manish'

# Popping the last Element

In [16]:
l1 = [7, "a", 8, "b", 9]                      #pop(index)
l1.pop(1)
l1

[7, 8, 'b', 9]

In [105]:
id(l1)

133513344

In [106]:
for i in list(l1):
    print(id(i))

8791408584672
38577904
8791408584704
38525232

In [107]:
l1 = [7, "a", 8, "b", 9]
l1.pop()
l1

[7, 'a', 8, 'b']

In [103]:
id(l1)

128431872

# Remove

In [18]:
lA = [10,20,30,40,50]            #remove(Value)
lA.remove(20)
lA

[10, 30, 40, 50]

In [19]:
#Use remove by Index

In [20]:
lA = [10,20,30,40,50]                    #remove value at specific index
lA.remove((lA)[2])
lA

[10, 20, 40, 50]

In [19]:
lA = [10,20,30,40,50]                    #remove value at specific index
lA.remove(2)
lA

ValueError: list.remove(x): x not in list

In [ ]:
#Use pop by value

In [23]:
lA = [10,20,30,40,50]    #pop specific value by value
lA.pop(1)
lA

[10, 30, 40, 50]

# Reversing Element of List

In [116]:
l1 = [7, "a", 100, "b", 9, 1.2]
l1.reverse ()
l1

[1.2, 9, 'b', 100, 'a', 7]

In [186]:
for i in list(l1):
    print(id(i))

8791408584672
135290608
38577904
8791408584704
38525232
8791408584736
8791408586240

In [118]:
id(l1)

128629184

In [119]:
print(l1)

[1.2, 9, 'b', 100, 'a', 7]

In [133]:
l1 = [7, "a", 100, "b", 9, 1.2]
l1.count(-1)
l1

[7, 'a', 100, 'b', 9, 1.2]

In [135]:
l1.count('b')
l1

[7, 'a', 100, 'b', 9, 1.2]

# Sorting List

In [27]:
l1 = ["a",'c',"b",'z','d','e']
l1.sort ()
l1

['a', 'b', 'c', 'd', 'e', 'z']

In [31]:
l1 = ["a",'c',"b",'z','d','e']               #Reverse sorting of list
l1.sort(reverse=True)                        #Decending order
l1

['z', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#Reverse various string of

In [37]:
l4 = ['PUNE','MUMBAI','INDIA','AKOLA']
l4.sort()
l4

['AKOLA', 'INDIA', 'MUMBAI', 'PUNE']

In [38]:
l5 = ['Aa','bB','aA','BB']
l5.sort()
l5

['Aa', 'BB', 'aA', 'bB']

# Inserting Element at a specific Index

In [165]:
l1 = [7, "a", 8, "b", 9]
l1.insert(2, 'Hello')
l1

[7, 'a', 'Hello', 8, 'b', 9]

In [24]:
l19 = [7, "a", 8, "b", 9,56,45,565]
l19.insert(1, 'Ram    mans')
l19

[7, 'Ram    mans', 'a', 8, 'b', 9, 56, 45, 565]

In [185]:
for element in list(l1):
    print(id(element))

8791408584672
135290608
38577904
8791408584704
38525232
8791408584736
8791408586240

In [184]:
print(id(l1))

135806848

# Concatenated List

In [35]:
l1 = [7, "a", 8, "b", 9]
l2 = ['Ram', 'Hello','Sita']
l1 + l2

[7, 'a', 8, 'b', 9, 'Ram', 'Hello', 'Sita']

# Repeated List

In [31]:
l1 = [7, "a", 8, "b", 9]
l1*(3)

[7, 'a', 8, 'b', 9, 7, 'a', 8, 'b', 9, 7, 'a', 8, 'b', 9]

In [34]:
l1 = [7, "a", 8, "b", 9]
l2 = ['Ram', 'Hello','Sita']
l1*(2)+l2

[7, 'a', 8, 'b', 9, 7, 'a', 8, 'b', 9, 'Ram', 'Hello', 'Sita']

# Slicing of List

In [14]:
lst1 = [7, "a", 8, "b", 9,78,98]

In [15]:
lst1[0:4:2]

[7, 8]

In [16]:
lst1[:4:2]

[7, 8]

In [19]:
lst1[2:]       #start from 2 index and will end at last

[8, 'b', 9, 78, 98]

In [20]:
lst1[:2]       #start from 0 index and will end at before 2 ie at1

[7, 'a']

In [22]:
lst1[::2]      #start from 0 index and will end at last and step of 2

[7, 8, 9, 98]

In [32]:
lst1[4:-1]     #Start at 4 and end before-1

[9, 78]

In [34]:
lst1[::-1]

[98, 78, 9, 'b', 8, 'a', 7]

In [37]:
lst1[-1:-8:-1]

[98, 78, 9, 'b', 8, 'a', 7]

# Insert

In [141]:
l3 = [10,50,70,'a','d']
l3.insert(0,1000)
l3

[1000, 10, 50, 70, 'a', 'd']

In [187]:
for i in list(l3):
    print(id(i))

129453296
8791408584768
8791408586048
8791408586688
38577904
30610288

# Extend

In [190]:
l78 = [78,10,56,89,98,56]
l78.extend([1.2,1.5,1.8])
l78

[78, 10, 56, 89, 98, 56, 1.2, 1.5, 1.8]

In [191]:
for i in list(l78):
    print(id(i))

8791408586944
8791408584768
8791408586240
8791408587296
8791408587584
8791408586240
128314448
128314768
128314928

In [192]:
print(id(l78))

129949824

In [5]:
l78 = [78,10,56,89,98,56]
l78.pop(2)
l78

[78, 10, 89, 98, 56]

# ASCII Value

In [32]:
#American Standerd Code for Information Interchange

In [33]:
ord('A')

65

In [10]:
ord("a")

97

# N-D List (N- Dimensional List) (List of List)

In [26]:
Z = [[10,5,62],[10,58,6],[42,88,6],[5,19,8]]
Z

[[10, 5, 62], [10, 58, 6], [42, 88, 6], [5, 19, 8]]

In [29]:
for row in Z:
    for ele in row:
        print(ele, end='\t')
    print()

10	5	62
10	58	6
42	88	6
5	19	8

# List Comprehension

In [ ]:
#List comprehension is used for append function

#[Append part       Loop           Selection]

In [1]:
# Simple example with append function
# Append the square of list A in blank list B

In [8]:
listA = [10,20,30,40,50,60]
listB = []
for i in listA:
    listB.append(i*i)
print(listB)

[100, 400, 900, 1600, 2500, 3600]

In [9]:
# Same example with list comprehension function
# Append the square of list A in blank list B

In [11]:
list_A = [10,20,30,40,50,60]
list_B = [(i*i) for i in listA ]
list_B

[100, 400, 900, 1600, 2500, 3600]

In [ ]:
# Simple example with append function
# Append the first letter of list A in blank list B

In [19]:
lst11 = ["Pune", "Mumbal", "Delhi"]
lst12 = []
for i in lst11:
    lst12.append(i[0])
lst12

['P', 'M', 'D']

In [20]:
# Same example with list comprehension function
# Append the first letter of list A in blank list B

In [31]:
lst_11 = ['Pune','Mumbal','Delhi']
lst_12 = [i[0] for i in lst_11]
lst_12

['P', 'M', 'D']

In [1]:
# Simple example with append function
#Print or append mob no with 98 starting in blank list

In [16]:
lst33 = [9922331705,9865457895,5689654789,9860657468]
lst44 = []
for i in lst33:
    if lst33[0:2] == 98:
        lst44.append(i[0:2])

In [17]:
lst44

[]

In [2]:
lst33 = [9922331705,9865457895,5689654789,9860657468]
lst44 = [for i in lst33 if lst33[0:2:1] == 99]
lst44

SyntaxError: invalid syntax (<ipython-input-2-c0197c65d42d>, line 2)

In [19]:
x = input(("Enter the Password"))
for i in x:
    x.isalpha(i):
        print(X)

SyntaxError: invalid syntax (<ipython-input-19-d68708a46c75>, line 3)